*{
    margin: 0;
    padding: 0;
}

body{
    
    font-family: 'Times New Roman', Times, serif;
    background-color: lightgray;
}
header img{
    position: absolute;
    width: 96px;
    height: 96px;
    left: 81px;
    top: 56px;

}

.menu{
    position: fixed;
    top: -10px;
    width: 100%;
    left: 1000px;
}

.menu ul{
    font-size: 20px;
    margin: 116px;
    
}
.menu ul li {
    display: inline;
    margin-left: 105px;
    
}
.barra{
    background-color:  #979494;
    position: relative;
    height: 82px;
    top: 90px;
    left:0;
    right:0;

}

.barra > h1{
    font-size: 30px;
    margin: 116px;
    text-align: left;
    top: -50px;
    color: #ffffff;
    

}

#busca{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;

    background-color: rgb(236, 235, 235);
    width: 693px;
    height: 43px;
    border-radius: 20px;
    overflow: hidden;
}

.listas{
    position: fixed;
    top: 350px;
    width: 100%;
    left: 86px;
    display: flex;
   
   
}

.listas li{
    font-size: 23px;
    list-style: none;
    display: flex;
    justify-content: space-between;

}
.qualidade{
    position: fixed;
    top: 550px;
    width: 100%;
    left: 60px;
    display: flex;
   
}
.qualidade img{
    padding: 30px;
}
.textoq{
    position: fixed;
    top: 650px;
    display: flex;
    font-size: 10px;
}
.textoq h1{
    padding: 40px;
    display: flex;
    align-items: center;
}
.foto{
    margin-left: 1210px;
    
}


.footer {
    padding: 25px;
    background: rgba(54, 51, 51, 1);
    width: 100%;
    position: fixed;
   
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-family: inherit;

}



